@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.m-1 {
  margin: 1rem;
}
.mx-1 {
  margin: 0 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.mb-2 {
  margin-bottom: 2rem;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.mb-3 {
  margin-bottom: 3rem;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.mb-4 {
  margin-bottom: 4rem;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.mb-5 {
  margin-bottom: 5rem;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 8rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
  width: 100vw;
  height: 80vh;
  border-radius: 12px;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #34b7f1;
}
.round-img {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.bg-primary {
  background-color: #34b7f1;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #000;
  color: #fff;
}
.bg-success {
  background-color: #25d366;
  color: #fff;
}
.bg-danger {
  background-color: #f80000;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.4rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 20px;
  text-align: center;
}
.btn.btn-primary {
  background-color: #34b7f1;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #4cbff3;
}
.btn.btn-dark {
  background-color: #000;
  color: #fff;
}
.btn.btn-white {
  background-color: #fff;
  color: #000;
}
.btn.btn-dark:hover {
  background: #0d0d0d;
}
.btn.btn-success {
  background-color: #25d366;
  color: #fff;
}
.btn.btn-success:hover {
  background: #36dc74;
}
.btn.btn-danger {
  background-color: #f80000;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #ff1313;
}
.btn:hover {
  background: #333;
  color: #fff;
}
.alert {
  padding: 0.6rem;
  margin: 1rem;
  opacity: 0.9;
  color: #f4f4f4;
  border-radius: 3rem;
}
.alert.alert-primary {
  color: #34b7f1;
}
.alert.alert-dark {
  color: #000;
}
.alert.alert-success {
  color: #25d366;
}
.alert.alert-danger {
  color: #f80000;
}
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
  border-radius: 1rem;
}
.badge.badge-primary {
  background-color: #34b7f1;
  color: #fff;
}
.badge.badge-dark {
  background-color: #000;
  color: #fff;
}
.badge.badge-white {
  background-color: #fff;
  color: #000;
}
.badge.badge-success {
  background-color: #25d366;
  color: #fff;
}
.badge.badge-danger {
  background-color: #f80000;
  color: #fff;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #f4f4f4;
}
.form {
  width: 75%;
  padding: 1rem;
  margin: 0 auto;
}
.form-group {
  margin: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
  text-align: center;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select {
  display: block;
  width: 50%;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 21px;
  outline: none;
}
.form textarea {
  display: block;
  width: 50%;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 28px;
  outline: none;
  font: inherit;
}
.form input[type='submit'] {
  font: inherit;
  padding: 0.5rem;
  width: 49%;
}
.form .social-input {
  margin-right: 58px;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
.profiles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 700px) and (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 700px) {
  .badge {
    white-space: nowrap;
    padding: 3px;
    width: 6rem;
    margin-bottom: 0.5rem;
  }
  .btn {
    white-space: nowrap;
  }
  .hide-sm {
    display: none;
  }
  .container {
    margin-top: 8rem;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .form .form-group input {
    width: 100%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .profiles .profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 0;
  }
  .profiles .profile .round-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .profile-grid .profile-top img {
    width: 250px;
    height: 250px;
  }
  .profiles .profile ul {
    display: none;
  }
  .profile-grid {
    grid-template-areas: 'top' 'about' 'exp' 'edu' 'github' !important;
  }
  .profile-about .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .conversation-items {
    min-width: 100%;
    border-radius: 18px;
  }
  .conversation {
    display: none;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: #34b7f1;
}
ul {
  list-style: none;
}
img {
  width: 150px;
  height: 150px;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #34b7f1;
  opacity: 0.9;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  color: #34b7f1;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #fff;
}
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1.8;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;
  border-radius: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
}
.profile-grid .profile-top img {
  width: 350px;
  height: 350px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: #000;
}
.profile-grid .profile-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
  text-align: center;
  border-radius: 1rem;
}
.profile-grid .profile-about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.profile-grid .profile-exp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp;
}
.profile-grid .profile-edu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu;
}
.profile-grid .profile-exp,
.profile-grid .profile-edu {
  border-radius: 1rem;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}
/* .profile-grid .profile-exp:last-child,
.profile-grid .profile-edu:last-child {
  border: none;
} */
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-github {
  border-radius: 1rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}
.profile-grid .profile-github .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
}
.profile-grid .profile-github .repo > div:first-child {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.profile-grid .profile-github .repo > div:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.post-form .form {
  margin: auto;
}
.post-form .form .form-group textarea,
.post-form .form input {
  width: 100%;
}
.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
}
.post > div:first-child {
  text-align: center;
}
.post img {
  width: 150px;
}
.post .comment-form {
  width: 100%;
}
.post .comment-form textarea,
.post .comment-form input {
  width: 100%;
}
.conversation-items {
  width: 40%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 8px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 8px 6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: inline-block;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.conversation-items .conversation-item {
  width: 100%;
  height: 100px;
  background-color: #fafafa;
  border-bottom: solid 1px #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.conversation-items .conversation-item .photo {
  margin-left: 20px;
  display: block;
  width: 45px;
  height: 45px;
  background: #e6e7ed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.desc-contact {
  height: 43px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conversation-items .conversation-item .name {
  margin: 0 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #515151;
}
.conversation-items .conversation-item .message {
  margin: 6px 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  color: #515151;
}
.clickable {
  cursor: pointer;
}
.conversation {
  position: relative;
  width: 60%;
  height: 100%;
  overflow-y: auto;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.conversation .message-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.conversation .message-input-container .message-input {
  margin-bottom: 5px;
  height: 2rem;
  width: 95%;
  padding: 15px;
  border-radius: 25px;
  background: #eeeeee;
  font-size: 16px;
  border: none;
  outline: none;
}
.messages {
  margin: 0 4rem;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.messages::-webkit-scrollbar {
  background-color: transparent;
}
.messages::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.messages .message-list li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.messages .message-list li:nth-last-child(1) {
  margin-bottom: 20px;
}
.messages .message-list li.sent img {
  margin: 6px 8px 0 0;
}
.messages .message-list li.sent p {
  background: #34b7f1;
  color: #f4f4f4;
}
.messages .message-list li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.messages .message-list li.replies p {
  background: #f4f4f4;
  float: right;
}
.messages .message-list li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.messages .message-list li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
