.form {
  width: 75%;
  padding: 1rem;
  margin: 0 auto;

  &-group {
    margin: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: 1.2rem 0;
    }
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
    text-align: center;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  select {
    display: block;
    width: 50%;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 21px;
    outline: none;
    // margin: auto;
  }

  textarea {
    display: block;
    width: 50%;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 28px;
    outline: none;
    font: inherit;
  }

  input[type='submit'] {
    font: inherit;
    padding: 0.5rem;
    width: 49%;
  }

  // .status {
  //   position: relative;
  // }

  // .status selected {
  //   display: none;
  // }

  .social-input {
    // display: flex;
    margin-right: 58px;

    i {
      padding: 0.5rem;
      width: 4rem;

      &.fa-twitter {
        color: #38a1f3;
      }
      &.fa-facebook {
        color: #3b5998;
      }
      &.fa-instagram {
        color: #3f729b;
      }
      &.fa-youtube {
        color: #c4302b;
      }
      &.fa-linkedin {
        color: #0077b5;
      }
    }
  }
}
